@CHARSET "ISO-8859-1";

.logOut {
	padding : 2em;
	text-align:right;
	border-bottom : solid;
	border-bottom-color: #F0F0F0;
}

.logIn {
	padding: 2em;
	text-align:center;
	border-bottom : solid;
	border-bottom-color: #F0F0F0;
}

.logIn input[type=text], button{
	background : #F8F8F8;
	margin : 0.7em;
}